<div class="container mt-2 mb-5 py-md-2">
  <p class="note note-light row mx-0 px-0 justify-content-between align-items-center">
    <a role="button" class="text-dark me-3 d-flex align-items-center col-md-4 mb-2 mb-md-0" [routerLink]="'/phonebooks'">
      <i class="fas fa-arrow-circle-left fa-2x me-2"></i> <span class="fw-bold fs-6">Back to Phonebooks</span>
    </a>
    <app-search *ngIf="!loading" class="col-md-6 col-lg-4" (searchUpdated)="filteredContacts = filterContacts($event)"></app-search>
  </p>
  <div class="row">
    <div class="col-md-6 col-lg-4 mb-3">
      <form *ngIf="contactForm" (submit)="addContact(contactForm)" [formGroup]="contactForm" class="p-3 card">
        <h4 class="text-dark">
          Add a new contact
        </h4>
        <div class="row">
          <div class="col-12">
            <div class="mb-3 pb-1">
              <label class="form-label">Name*</label>
              <input
                type="text"
                class="form-control py-2"
                formControlName="name"
                placeholder="Name"
              />
            </div>
          </div>
          <div class="col-12">
            <div class="mb-3 pb-1">
              <label class="form-label">Email Address*</label>
              <input
                type="text"
                class="form-control py-2"
                formControlName="email"
                placeholder="Email Address"
              />
            </div>
          </div>
          <div class="col-12">
            <div class="mb-3 pb-1">
              <label class="form-label">Phone Number*</label>
              <input
                type="text"
                class="form-control py-2"
                formControlName="phone"
                placeholder="Phone Number"
              />
            </div>
          </div>
          <div class="col-12">
              <button type="submit" class="btn btn-outline-dark d-flex align-items-center" *ngIf="!loading">
                <i class="fas fa-plus fa-2x me-2"></i> Add Contact
              </button>
              <button class="btn btn-outline-dark" type="button" *ngIf="loading">
                <span
                  class="spinner-border spinner-border-sm"
                  role="status"
                  aria-hidden="true"
                ></span>
              </button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-6 col-lg-8">
      <div class="row">
        <div class="col-12 col-lg-6 mb-3" *ngFor="let contact of filteredContacts">
          <app-contact [contact]="contact" [phonebookId]="phonebookId" (updated)="getContacts(phonebookId)"></app-contact>
        </div>
        <div class="col-12">
          <p class="note note-info" *ngIf="filteredContacts?.length === 0">
            No contacts found.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
